APP_KEY=
APP_NAME=CUP-FICCT
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=cup_ficct
DB_USERNAME=postgres
DB_PASSWORD=secret

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:5173
SESSION_DRIVER=cookie
SESSION_DOMAIN=localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
